.answer{
    font-size:25px;
     margin-left: 20%;
     color: rgb(255, 255, 255);
     border: 2px solid black;
     width: 320px;
     border-radius: 10px;
     padding: 5px;
     background-color: black;
     text-align: center;
}

  
  .chart-container{
    width: 550px;
    padding-left: 25px;
  }

  

